[user]
	name = jgnickerson
	email = jgnickerson@me.com
[alias]
	co = checkout
	pr = pull --rebase
	cm = commit -m
	ca = commit --amend
	col = checkout @{-1}
	copr = "!f() { git fetch origin refs/pull/${1?Missing PR}/head && git checkout FETCH_HEAD; }; f"
[push]
	#https://stackoverflow.com/a/27185855
	default = current
[hub]
	host = git.liveramp.net
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[pager]
	branch = false
	log = true
# https://medium.com/easyread/today-i-learned-fix-go-get-private-repository-return-error-terminal-prompts-disabled-8c5549d89045
[url "git@github.com:"]
	insteadOf = https://github.com
	insteadOf = https://github.com/
[init]
	defaultBranch = main
